<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
  <tr>
    <th>Vehicle ID</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Position Date</th>
  </tr>
  </thead>

  <tbody>
  <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vehicle_identifier %></td>
        <td><%= vehicle.latitude %></td>
        <td><%= vehicle.longitude %></td>
        <td><%= vehicle.sent_at %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<br>


<script>
    handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
